body {
  font-family: "Oswald", sans-serif;
  line-height: 1.25;
  margin: 0;
}

.nav-bar h1 {
  float: left;
  font-family: "Oswald", sans-serif;
  line-height: 1.25;
  color: #8bc34a;
  margin: 1%;
}

.nav-bar {
  background-color: #384150;
  padding: 2em;
  text-align: center;
}

.nav-bar ul {
  padding: 0;
}

.nav-bar li {
  display: inline-block;
  font-size: 1.5em;
  padding: .25em 1em;
  text-transform: uppercase;
}

.nav-bar li:not(:last-child) {
  border-right: 1px solid #666;
}

.nav-bar a {
  border-bottom: 3px solid #666;
  color: #ccc;
  text-decoration: none;
}

.nav-bar a:hover {
  border-bottom: 3px solid #8bc34a;
}
