.blog-container{
  width: 100%;
  background-color: #98B6D4;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  height: 100vh;
}

.blog-container h2 {
  float: left;
  margin-left: 2%;
  font-size: 35px;
}

.blog-index{
  padding-top: 7%;
  position: relative;
  width: 40%;
  padding-left: 2%;
  padding-right: 2%;
}

.blog-index h3{
  font-size: 30px;
  text-decoration: underline;
}

.blog-index li{
  list-style-type: none;
  font-size: 20px;
  width: 100%;
}

.blog-index li:hover{
  font-size: 28px;
}

.blog-component{
  width: 50%;
  float: right;
  border-radius: 10px;
  background-color: white;
  color: #98B6D4;
}

.blog-component h3{
  font-size: 35px;
  text-decoration: underline;
}

.blog-component button{
  margin-left: 94%;
  margin-top: 2.5%;
}
