.blog-container{
  width: 100%;
  background-color: #98B6D4;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  height: 100vh;
}

.blog-container h2 {
  float: left;
  margin-left: 2%;
  font-size: 35px;
}

.blog-index{
  width: 100%;
  float: left;
  padding-left: 2%;
  padding-right: 2%;
}

.blog-index h3{
  font-size: 30px;
  text-decoration: underline;
}

.blog-index li{
  list-style-type: none;
  font-size: 25px;
}

.blog-index li:hover{
  font-size: 28px;
}

.blog-component{
  z-index: 1;
  width: 80%;
  min-height: 480px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
			0 10px 10px rgba(0,0,0,0.22);
  border-radius: 10px;
  background-color: white;
  margin: auto;
  color: #98B6D4;
}

.blog-component h3{
  padding-left: 3%;
  padding-top: 2%;
  font-size: 35px;
  text-decoration: underline;
}

.blog-component button{
  z-index: 2;
  margin-left: 94%;
  margin-top: 2.5%;
}
