.Portfolio-Container{
  width: 100%;
  background-color: #98B6D4;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  height: 100vh;
}

.project-image{
  width: 30%;
  height: 50vh;
  float: left;
  background: #98B6D4;
}

.project-info {
  width: 68%;
  height: 50vh;
  float: left;
  margin-left: 2%;
}

.project-info p{
  font-size: 20px;
  font-weight: bold;
}

.project-info span{
  font-size: 20px;
  padding-left: 5%;
}

.feature-item{
  font-size: 20px;
}

.project-link-container {
  width: 100%;
  text-align: center;
}


.project-link-container a{
  font-size: 40px;
  color: white;
}


.project-link-container a:hover{
  font-size: 45px;
}

.project-image-slideshow {
  margin: auto;
  position: relative;
  width: 90%;
  height: 90%;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
