@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

.splash-container {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  height: 100vh;
}

.splash-container h1{
  text-align: center;
  font-size: 85px;
  padding-top: 12%;
}

.splash-container h2{
  text-align: center;
}

.splash-container li {
  padding-right: 2%;
  float: right; /* makes list horizontal */
  list-style-type: none;
  margin: 0 0 0 30px; /* separates 'buttons' */
  font-size: 23px;
}
